.category-cover{
    width: 225px;
    height: 95px;
    border-radius: 13px;
}
.category-name{
    position: absolute;
    left: 82px;
    top: 17px;
    z-index: 9999;

}
.category-name p{
    color: white;

}
.category-name span{
    color: white;

}
.category-overlay{
        background: black;
    width: 225px;
    opacity: 0.2;
    position: absolute;
    height: 95px;
    border-radius: 13px;
}
.category-overlay:hover{
    opacity: 0.6;

}
