 .book-overlay{
    opacity: 0.2;
     background: black;
     width: 217px !important;
     height: 265px !important;
     border-radius: 12px;
     position: absolute;
     z-index: 9999;


}

.book-overlay:hover{
opacity: 0.6;

}
.book-price{
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 6px;
    width: 91px;
    background-color: white;
    display: inline-block;
    color: #6c5dd4;
    border: 1px solid gray;
    cursor: pointer;

}
.book-price:hover{
   color: white;

   background-color: #6c5dd4;

}
.category{
    cursor: pointer;
    color: #6c5dd4;

}
@media only screen and (max-width: 1200px){
.book-overlay {
    opacity: 0.2;
     background: black;
     position: absolute;
     width: 217px !important;
     height: 265px !important;
     border-radius: 12px;
}

.book-overlay:hover {
opacity: 0.6;


}


}

.book-cover
{
    width: 217px !important;
    height: 265px !important;
    border-radius: 12px;
    position: relative;
}
.trend-book{
    /* background-image: url(img/book.jpeg) !important; */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 217px !important;
    height: 265px !important;
    border-radius: 12px;
}


#star{
    border-radius: 17px;
    background: orange;
    padding: 8px;
    color: white;
}
.rate{
    padding: 4px;
    border: 1px solid #8080803d;
     margin: 9px;

    border-radius: 12px;
    width: 82px;
    z-index: 9999;



}

@media screen and (max-width:800px) {
#seller-section{
    flex-direction: column !important;
    display: flex;
}
.star-rate{
    width: 139px;
   margin-top:10px;
}
}
/* start service-section */
#service-icon{
 color: #6c5dd4;
    padding: 18px 0px;
    font-size: 1.5rem;


}
/* End service-section */


/* seller section  */
.seller{
    /* border: 1px solid #dee2e6!important; */
    padding: 2px 10px;
    width: 95px;
    height: 38px;
}
.seller-category{
        border: 1px solid #dee2e6!important;
    padding: 1px 13px;
    width: 95px;
    cursor: pointer;
    color: #6c5dd4;
    height: 38px;
}
/* seller section  */
